body {
	width: 100%;
	height: 100%;
	font-size: 1.4em;
}

#content li {
	display: block;
	position: relative;
	padding-bottom: 50px;
	clear: both;
}

#status {
	display: block;
	margin: 0 auto;
	width: 600px;
	height: 30px;
	padding: 20px 0 10px 0;
	
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

#chatters, #content { 
	border: solid 1px #999;
	padding: 30px 10px 20px 10px;
	overflow-y: scroll;
}

#chatters {
	float: left; 
	margin: 0 8px 20px 30px;
	width: 20%; 
	height: 600px;
	border-radius: 10px;
}

#content {
	margin: 0 30px 5px 0;
	height: 550px;
	border-radius: 10px;
}

/*controlls module*/
#controlls {
	margin: 4px 0 20px 10px;
}

#controlls-field { 
	margin: 0 20px 0 0;
	width: 850px;
	height: 40px;
	border-radius: 5px;
	font-size: 20px;
}

#controlls-send {
	width: 70px;
	height: 46px;
	border-radius: 5px;

	font-size: 20px;
}


.message {
	display: inline;
	border: 6px solid #666;
	border-radius: 10px;
	padding: .5em .8em .5em .5em;	
	margin-left: -6px;
	margin-right: -7px;
}

.left-triangle {
	float: left;
	position: relative;
	border-top: 10px solid transparent;
	border-right: 20px solid #666;
	border-bottom: 10px solid #666;
	border-left: 20px solid transparent;
}

.left-triangle:after {
	content: "";
	position: absolute;
	top: -5px;
	border-top: 5px solid transparent;
	border-right: 10px solid #fff;
	border-bottom: 5px solid #fff;
	border-left: 10px solid transparent;
}

.right-triangle {
	float: right;
	position: relative;
	border-top: 10px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 10px solid #666;
	border-left: 20px solid #666;
}

.right-triangle:before {
	content: "";
	position: absolute;
	right: 0;
	top: -5px;
	border-top: 5px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 5px solid #fff;
	border-left: 10px solid #fff;
}