#chatters, #content { 
	border: solid 1px #999; 
	padding: 5px;
	overflow-y: scroll;
}

#chatters {
	
	float: left; 
	width: 150px; 
	height: 300px;
	margin: 0 3px 0 0;
}

#right-container {
	display: inline-block;
}

#status {
	display: block;
	width: 500px;
	height: 30px;
	/*border: solid 1px #999;*/
	font-size: 20px;
	text-align: center;
}

#content {
	width: 500px;
	height: 270px; 
}

/*controlls module*/
#controlls {
	margin: 5px 0 0 0;
}

#controlls-messageString {
	width: 65px;
	float: left;
}

#controlls-field {
	width: 350px;  
	margin: 0 5px 0 0;
}